body {
    margin: 0;
    background: rgba(255, 255, 255, 0.267);
}

img {
    width: 500px;
}
.producto {
    width: 500px;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: green;
}
a {
    color: blueviolet;
    text-decoration: underline;
    text-align: center;
}
p {
    color: red;
    text-align: justify;
}


